/* Button */

.button {
    display: inline-block;
    padding: 15px;
    border: none;
    border-radius: 12px;
    color: #fff;
}

.button-primary{
    background-color: #0081ff;
}

.button-secundary{
    background-color: #39b54a;
}

.button-weapper-right{
    text-align: right;
}
