/* Contato */
.map-wrapper{
    margin: 15px -15px -38px;
    height: 300px;
}

@media (min-width: 720px){
    .map-wrapper{
        width: 50vw;
        position: absolute;
        height: auto;
        margin: 0;
        top: 78px;
        bottom: 138px;
        right: 0;
        z-index: 1;
    }
}

.map{
    display: block;
    height: 100%;
    width: 100%;
    border: none;
}