/* Style */

.carousel-image{
    height: 50vh;
    width: 100%;
    background: url('../img/banner.jpg') no-repeat center top / cover;
}

textarea.form-control{
    max-height: 75px;
    min-height: 75px;
}