.card-header{
    height: 90px;
    margin-top: -10px;
    width: 100%;
    border-bottom: 10px solid darkred;
    text-align: left;
}

.card-header .header-circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(106, 106, 228);
    border: 5px solid white;
    margin-top: 20px;
    margin-left: 10px;
    display: inline-block;
}

.header-small-circle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    position: absolute;
    margin-top: 25px;
    margin-left: 10px;
}

.yellow-circle{
    background-color: yellow;
    margin-left: 25px;
}

.green-circle{
    background-color: green;
    margin-left: 40px;
}

.red-circle{
    background-color: rgb(181, 6, 6);
}

.card .nome{
    color:black;
    margin:auto;
    display: inline-block;
}

.card .pokemon-name-box{
    width: 200px;
    height: 70px;
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    background-color: white;
    border: 5px solid rgb(230, 230, 230);
    box-shadow: inset 0px 0px 15px -2px rgba(0,0,0,0.3);
    border-radius:10px;
}

.display-image{
    margin:auto;
    margin-top: 20px;
    border: 10px solid rgb(230, 230, 230);
    border-radius:10px;
    border-bottom-left-radius: 0px;
    width:  200px;
    height: 175px;
    background-color: #707eee;
    box-shadow: inset 0px 0px 15px -2px rgba(0,0,0,0.82);
    text-align: center;
}   

.display-image img{
    margin-top: 0px;
    width:150px;
}

.card-left-side input{
    margin-top:20px;
    width: 200px;
    background-color: rgb(10, 199, 16);
    color:rgb(0, 0, 0);
}

.card-left-side input::placeholder{
    color: rgba(0, 0, 0, 0.44);
}

.retorno{
    display: block;
    position: absolute;
    margin-top: -42px;
    margin-left: 60px;
}

.button{
    display: block;
    width: 100px;
    height: 50px;
    margin-left: 40px;
    margin-top: 25px;
    background-color: #ffcb05;
    border:1px solid black;
    cursor: pointer;
}

.setas-icon{
    position: absolute;
    margin-left: 20px;
    margin-top: -64px;
    width: 75px;
}

.button:hover{
    background-color: #eec007;
}