.pokemon-list-infos{
    width: 200px;
    height: 250px;
    margin:auto;
    margin-top:20px;
    background-color: rgb(10, 199, 16);
    border: 10px solid rgb(230, 230, 230);
    border-radius:10px;
    box-shadow: inset 0px 0px 21px 9px rgb(47, 237, 30);
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
}

.pokemon-list-infos ul{
    margin-left: -25px;
}

#hide{
    display: none;
}

.pokemon-basic-infos{
    position: relative;
    margin-top: 10px;
}

.pokemon-basic-info-field{
    display: flex;
    height: 30px;
    width: 200px;
    background-color: #ffcb05;
    margin: auto;
    padding: 5px;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.pokemon-basic-info-field p{
    margin-top: 0px;
}

ul  li{
    list-style: none;
}