.card{
    width: 600px;
    height: 600px;
    text-align: center;
}

.card .card-side{
    border: 10px solid darkred;
    background-color: #FF0000;
    margin-left: -15px;
    border-radius: 10px;
    width:  300px;
    height: 450px;
}

.card .card-left-side{
    height: 540px;
}

.card .card-right-side{
    margin-top: 90px;
}

